In [1]:
class Student:
    def __init__(self,ID,Name,Age,Gender,Phone):
        
        self.ID=ID
        self.Name=Name
        self.Age=Age
        self.Gender=Gender
        self.Phone=Phone
    def get_data(self):
        self.ID=input("Enter ID:")
        self.Name=input("Enter name:")
        self.Age=int(input("Enter age:"))
        self.Gender=input("Enter gender:")
        self.Phone=int(input("Enter Phone number:"))
    def display(self):
        print("              ")
        print("----Student Details----")
        print("ID :",self.ID)
        print("Name :",self.Name)
        print("Age :",self.Age)
        print("Gender :",self.Gender)
        print("Phone number :",self.Phone)

#object calling
obj=Student('ID','Name','Age','Gender','Phone')
obj.get_data()
obj.display()

Enter ID:N180447
Enter name:Amani
Enter age:18
Enter gender:Female
Enter Phone number:9381790582

----Student Details----
ID : N180447
Name : Amani
Age : 18
Gender : Female
Phone number : 9381790582

In [3]:
class Nuz_Student(Student):
    def __init__(self):
        print("*Nuzvid Student")
    def whereis(self):
        print("IIIT,Nuzvid,Mylavaram road,Krishna(dt),521201.")
obj_Nzd=Nuz_Student()
obj_Nzd.whereis()

*Nuzvid Student
IIIT,Nuzvid,Mylavaram road,Krishna(dt),521201.